.asg-2.main {
    background-color: #ededed;
    text-align: center;
    font-size: 28px;
}

.blue-section {
    background-color: #5574e2;
    height: 5vh;
    text-align: center;
}

.header {
    background-color: rgb(52, 200, 233);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-section {
    height: 30vh;
    display: flex;
    flex-direction: row;


}

.main-feature {
    background-color: rgb(206, 141, 55);
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-feature {
    display: flex;
    flex-direction: row;
    width: 65%;
}

.feature-1 {
    background-color: rgb(183, 134, 229);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-2 {
    background-color: rgb(243, 101, 177);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up {
    background-color: aquamarine;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: rgb(218, 219, 219);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*tablet(1024px and down)*/

@media (max-width: 1024px) {
    .asg-2.main {
        font-size: 24px;
    }

    .header {
        height: 10vh;
    }

    .feature-section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main-feature {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 15vh;
    }

    .sub-feature {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .feature-1,
    .feature-2 {
        min-height: 20vh;
        width: 100%;
    }

    .sign-up {
        min-height: 10vh;
    }

    .content {
        min-height: 40vh;
    }
}

/*mobile(768px and down)*/
@media (max-width: 768px) {
    .asg-2.main {
        font-size: 18px;
    }

    .header {
        height: 10vh;
    }

    .feature-section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main-feature {
        display: flex;
        width: 100%;
        height: auto;
        min-height: 15vh;
    }

    .sub-feature {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .feature-1,
    .feature-2 {
        min-height: 15vh;
        width: 100%;
    }

    .sign-up {
        min-height: 10vh;
    }

    .content {
        min-height: 40vh;
    }
}