.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.header-right {
  display: flex;
  gap: 40px;
}

.header-right a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .header-1 {
    display: flex;
    flex-direction: row-reverse;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .header-left {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .header-left {
    font-size: 20px;
  }

  .header-right a {
    font-size: 18px;
  }
}