body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Noto Sans, sans-serif; */
}

h1,
h2,
h3,
p {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b1b3ae;
  color: #0e110d;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.alink {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #485645;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: bold;
  text-align: center;
}

.alink:hover {
  background-color: #5A7863;
}